body {
    background-color: #F0F0D7;
    font-family: 'Quicksand', sans-serif;
    color: #727D73;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container-box {
    width: 70%;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #AAB99A;
    background-color: #D0DDD0;
    border-radius: 10px;
}

.title-box h1 {
    font-family: 'Playfair Display', serif;
    color: #727D73;
    margin-bottom: 20px;
}

.input-box {
    margin-top: 10px;
}

input {
    padding: 10px;
    width: 250px;
    border: 2px solid #AAB99A;
    border-radius: 8px;
    background-color: #F0F0D7;
    color: #727D73;
    font-size: 14px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color: #727D73;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #AAB99A;
}

.output-box {
    margin-top: 20px;
}

#output {
    margin-top: 10px;
    padding: 15px;
    border: 2px solid #AAB99A;
    background-color: #F0F0D7;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: #727D73;
    text-align: left;
}

hr {
    border: 1px solid #AAB99A;
    width: 60%;
    margin: 20px auto;
}

.footer {
    margin-top: 60px;
    background-color: #D0DDD0;
    color: #727D73;
    padding: 15px;
    font-weight: 400;
    letter-spacing: 2px;
}

select option {
    background-color: #F0F0D7;
    color: #727D73;
}

select {
    background-color: #F0F0D7;
    border-radius: 8px;
    border: 2px solid #AAB99A;
}

img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
    display: block;
}